<nav>
    <div class="site-title">
        <!-- <a href="/"><h1>Soccer</h1></a> -->
        <h1>SOCCER</h1>
        <!-- <a href="/news"><p>News Trending</p></a> -->

    </div>
    <ul>
        <li><a href="/soccer/scoreboard">Scoreboard</a></li>
        <li><a href="/soccer/standing">Standings</a></li>
    </ul>
</nav>