<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div id="score">
        <h1>Scoreboard</h1>
        <ul>
            <% scores.forEach(function(t) { %>
            <li>
                <%= t.scores %>
            </li>
            <% }) %>
        </ul>
    
        <ul>
            <a href="/soccer">Go Back</a>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>